---
layout: base
---

<h3>{{ page.title | escape }}</h3>

<div>Published: {{ page.date | date: "%b %-d, %Y" }}</div>
<!-- <div>Modified: {{ page.last_modified_at | date: "%b %-d, %Y" }}</div> -->
<div>Author: {{ page.author }}</div>
<div>Categories: 
{% for category in page.categories %}
    <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="category">{{ category | capitalize }}</a>
    {% unless forloop.last %},&nbsp;{% endunless %}
  {% endfor %}
</div>

<br>
{{ content }}

